<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmberStride</title>
    <link rel="shortcut icon" width="100%" height="100%" type="image/png" href="/img/favicon_EmberStride.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="css/dark.css">
</head>

<body>
    <section id="header">
        <a href="/home"><img src="img/ES_logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="/home">Home</a></li>
                <li><a class="active" href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-shopping-cart"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-img">
            <img src="img/products/<%= shoe.img%>.jpg" width="100%" id="MainImg" alt="">

            <div class="small-img-group">

                <% for(var i=1; i <=4; i++) { %>

                    <div class="small-img-col">
                        <img src="img/products/<%= oldshoes[i].img %>.jpg" height="110vh" width="100%" class="small-img" alt="">
                    </div>
                    <%}%>

            </div>
        </div>

        <div class="single-pro-details">
            <h6>Home / Shoes</h6>
            <h3>
                <%= shoe.pName%>
            </h3>
            <h2>
               Rs <%= shoe.price %>/-
            </h2>
            <select>
                <option>Select Size</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
                <option>XXL</option>
                <option>XXL</option>
            </select>
            <input type="number" value="1">
            <form action="/add" method="post">
                <button type="submit" name="item" value="<%=shoe._id%>" class="normal">Add To Cart</button>
                <input type="hidden" name="img" value="<%=shoe.img%>" />
                <input type="hidden" name="site" value="cart" />
            </form>
            <h3>Product Details</h3>
            <span>Step into the world of urban fashion with our exclusive Red Tint Off-White Sneakers. Designed to make a bold statement on the streets, these sneakers combine the iconic Off-White brand aesthetic with a striking red tint that demands attention. With a perfect fusion of style and comfort, these sneakers will become your go-to footwear for any casual or streetwear ensemble.</span>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">

            <% for(var j=1;j<=4;j++){%>
                <div class="pro">

                    <form action="/product" method="post">
                        <button type="submit" style="background: none; border: none; width: 100%;
                        min-width: 50%; height: 37vh; border-radius: 20px;" name="item" value="<%= newshoes[j]._id%>"> <img
                                src="img/products/<%= newshoes[j].img%>.jpg" alt=""></button>
                        <input type="hidden" name="img" value="<%=newshoes[j].img%>" />
                    </form>
                    <div class="des">
                        <span>
                            <%= newshoes[j].cName%>
                        </span>
                        <h5>
                            <%= newshoes[j].pName%>
                        </h5>
                        <div class="star">
                            <% var sz=newshoes[j].star; %>
                                <!-- use Semi colon inside the sz=shoes.star ;  -->
                                <% for(var i=1; i <=sz; i++) { %>
                                    <i class="fas fa-star"></i>
                                    <% } %>
                        </div>
                        <h4>Rs <%= newshoes[j].price %>/-
                        </h4>
                    </div>
                    <form action="/add" method="post">
                        <button type="submit" style="background: transparent; border: none !important;" name="item" value="<%=newshoes[j]._id%>"> <i
                                class="fal fa-shopping-cart cart"></i></button>

                        <input type="hidden" name="img" value="<%=newshoes[j].img%>" />


                    </form>
                </div>
                <%}%>

        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>

        <div class="form">
            <input type="text" placeholder="abc@gmail.com">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/ES_logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong>abkjbdc vchva egff dhvchva dcda cdac dacacd caacdva</p>
            <p><strong>Phone: </strong>abcd</p>
            <p><strong>Hours: </strong>abcd</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-pinterest" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>@ 2023, E-Commerece Website Group Project</p>
        </div>

    </footer>

    <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");

        smallimg[0].onclick = function () {
            MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
            MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
            MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
            MainImg.src = smallimg[3].src;
        }
    </script>

    <script src="script.js"></script>
</body>

</html>